# Django settings
SECRET_KEY=
DEBUG=

# Environment type: prod or local
ENV_TYPE=

# DB PostgreSQL parameters

# DB name
SQL_DATABASE=
# Username
USER=
# Password
PASSWORD=
# DB host
HOST=
# DB port
PORT=
DATABASE=

# Superuser parameters
ADMIN_USERNAME=
ADMIN_EMAIL=
ADMIN_PASSWORD=
